* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.heading {
  text-align: center;
  padding: 10px 0;
}

.loginControls {
  width: 100%;
  padding: 10px 20px;
}

.loginUsers {
  width: 100%;
  justify-content: center;
  padding-top: 10px;
}

.heros {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #212121;
  height: 45px;
  width: 160px;
  color: #bbb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.heroImage {
  width: 40%;
  padding-top: 5px;
}

.heroId {
  width: 60%;
  height: 45px;
  line-height: 45px;
}

img {
  margin: auto 10px;
  height: 35px;
  width: 35px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: auto;
}

.loginWithId {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

input[type="text"] {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid grey;
}

button {
  background: #212121;
  color: #BBB;
  height: 35px;
  width: 100px;
  font-size: medium;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.pointer:hover {
  cursor: pointer;
}